<section>
  <div class="path">
    <ul>
      <li><i class="fa-solid fa-house"></i>Home/</li>
      <li>Produtos/</li>
      <li>Editar Categoria</li>
    </ul>
  </div>
  <div class="snack">
    <app-snack-sucess
      [messageSucess]="messageSucess"
      [title]="titleSucess"
      [events]="eventSubjectSucess.asObservable()"
    ></app-snack-sucess>
    <app-snack-error
      [messageError]="messageError"
      [title]="titleError"
      [events]="eventSubjectError.asObservable()"
    ></app-snack-error>
  </div>
  <article class="containerTable">
    <div class="titleContainer">
      <h1>Lista de Categorias</h1>
    </div>
    <div class="table">
      <div>
        <div class="filterContainer">
          <div>
            <span>Listar</span>
            <!-- <select [(ngModel)]="dataGet.take" (change)="getAllCategories()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option
                value="{{ dataGet.take }}"
                *ngIf="dataGet.take >= quantityProducts"
              >
                {{ dataGet.take }}
              </option>
            </select> -->
          </div>
          <div>
            <input
              type="text"
              placeholder="Pesquisar"
              [(ngModel)]="dataGet.text"
            />
          </div>
        </div>
        <div class="containerTable">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Telas de Acesso</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of allEmployees">
                <td>{{ employee.id }}</td>
                <td class="tdImage">
                  <img
                    src="{{ employee.EmployeePhoto![0].url }}"
                    alt=""
                    *ngIf="employee.EmployeePhoto!.length > 0"
                  />
                  {{ employee.name }}
                </td>
                <td>{{ employee.email }}</td>
                <td>
                  <select>
                    <option *ngFor="let screen of employee.screeens">
                      {{ screen.surname }}
                    </option>
                  </select>
                </td>
                <td class="actions">
                  <a
                    routerLink="/home/updated-category-product/{{
                      employee.id
                    }}"
                    >Editar</a
                  >
                  <a>Excluir</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="infoTable">
          <p>
            Exibindo {{ dataGet.take }} de {{ quantityEmployees }} categorias
          </p>
          <div>
            <button>Voltar</button>
            <p
              *ngFor="let page of [].constructor(numberPages); let i = index"
              [ngClass]="{ pageSelected: i + 1 === currentPage }"
            >
              {{ i + 1 }}
            </p>
            <button>Avançar</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
