<div class="titleContainer">
  <h1>{{infoTable.title}}</h1>
  <button (click)="exportToCSV()"><a>Exportar para CSV</a></button>
</div>
<div class="table">
  <div>
    <div class="filterContainer">
      <div>
        <span>Listar</span>
        <select [(ngModel)]="dataGet.take" (change)="changeAction()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option
            disabled
            value="{{ dataGet.take }}"
            *ngIf="dataGet.take >= infoTable.itemQuantity"
          >
            {{ dataGet.take }}
          </option>
        </select>
      </div>
      <div>
        <input type="text" placeholder="Pesquisar" />
      </div>
    </div>
    <div class="containerTable">
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of infoTable.columns">{{ column }}</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of infoTable.data">
            <td *ngFor="let keyName of infoTable.keyNames">
              {{ checkValues(keyName, field[keyName.name]) }}
            </td>
            <td class="actions">
              <a [routerLink]="[field.routerLink + field.id]">Editar</a>
              <a (click)="deleteRegister(field.id)">Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="infoTable">
      <p>
        Exibindo {{ dataGet.take }} de {{ infoTable.itemQuantity }} categorias
      </p>
      <div>
        <button (click)="buttonPage(false)">Voltar</button>
        <p
          *ngFor="let page of [].constructor(numberPages); let i = index"
          (click)="changePagination(i + 1)"
          [ngClass]="{ pageSelected: i + 1 === currentPage }"
        >
          {{ i + 1 }}
        </p>
        <button (click)="buttonPage(true)">Avançar</button>
      </div>
    </div>
  </div>
</div>
