@import "../.../../../../../assets/scss/variables.scss";
@import "../.../../../../../assets/scss/generalStyles.scss";

.snack {
  margin-bottom: 1rem;
}

.infoProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1220px) {
    display: block;
  }
  .dataProduct,
  .previewProduct {
    height: 80vh;
    padding: 0 15px;
    flex: 1;
    background-color: white;
    box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
    margin-bottom: 30px;
  }

  .dataProduct {
    margin-right: 20px;
    @media screen and (max-width: 1220px) {
      margin-right: 0;
    }
    h1 {
      padding: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 25px;
    }

    > div {
      margin-bottom: 16px;
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 14px;
      }

      input {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 14px;
        padding: 6px 12px;
        border-radius: 3px;
      }

      textarea {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px 0 0 10px;
        resize: none;
      }
    }
    .doubleInput {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 768px) {
        display: block;
      }
      > div {
        flex: 1;
        &:nth-child(1) {
          margin-right: 20px;
          @media screen and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 0.5rem;
          }
        }
        select {
          width: 100%;
          padding: 6px 12px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
        }
      }
    }

    .divInputFile {
      > div {
        display: flex;
        button {
          cursor: pointer;
          padding: 3px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0 0.25rem 0.25rem 0;
          color: #495057;
          border-left: 0;
        }
      }
    }
  }

  .previewProduct {
    h2 {
      padding: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 25px;
    }

    > .slider {
      height: 70%;
      position: relative;
      overflow: hidden;
      > ul {
        list-style-type: none;
        > li {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          > img {
            object-fit: cover;
            transition: all 0.6s;
          }
        }
      }

      > div {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -6px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 0;
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          li {
            width: 100px;
            border: 1px solid white;
            margin-right: 6px;
            img {
              max-width: 100%;
              opacity: 0.5;
              cursor: pointer;
              aspect-ratio: 3/2;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  .buttons {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button {
      background-color: #ff0018;
      outline-color: #ff0018;
      border-color: #ff0018;
      padding: 5px 10px;
      max-width: 90%;
      width: 220px;
      color: white;
      border-radius: 5px;
      cursor: pointer;

      &:nth-child(2) {
        background-color: #333;
        border-color: #333;
        outline-color: #333;
      }
    }
  }
}

.removeImage {
  transform: translateX(-100%);
}

.imageSelected {
  opacity: 1 !important;
  transform: scale(0.9);
}
