//Multiple-select

::ng-deep .dropdown-btn {
  font-size: 12px;
  padding: 6px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 3px !important;
}

::ng-deep .dropdown-multiselect__caret {
  display: none !important;
}

::ng-deep .selected-item {
  margin-bottom: 0 !important;
  border: none !important;
  background-color: red !important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div:after {
  background-color: red !important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"]:focus + div:before,
::ng-deep .multiselect-item-checkbox input[type="checkbox"]:hover + div:before {
  border-color: red !important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div:after {
  background-color: red !important;
}

::ng-deep .multiselect-item-checkbox
  input[type='checkbox']:disabled:focus
  + div:before
  .multiselect-item-checkbox
  input[type='checkbox']:disabled:hover
  + div:before {
  background-color: inherit;
}


::ng-deep .multiselect-item-checkbox input[type='checkbox']:checked + div:before {
  background-color: red !important;
}

::ng-deep .multiselect-item-checkbox input[type='checkbox'] + div:before {
  border-color: red !important;
}

::ng-deep .multiselect-item-checkbox input[type='checkbox']:checked + div:before {
  background: red !important;
}
