@import "../../../assets/scss/variables.scss";

div {
  h1 {
    font-size: 24px;
  }

  .imageContainer {
    margin: 40px auto;
  }

  div {
    text-align: center;

    img {
      width: 80px;
    }

    button {
      padding: 5px 40px;
      background-color: $primary-red;
      border-radius: 10px;
      border: 1px solid $primary-red;
      color: white;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.5;
      }

      &:nth-child(2) {
        margin-left: 30px;
        background-color: #333;
        border-color: #333;
      }
    }
  }
}
