<section *ngIf="!showConfirmation && !hasError">
  <img src="../../../assets/images/secure-shield.png" />
  <h1>Esqueceu a senha?</h1>
  <p>Digite seu email para recupar sua senha</p>
  <div>
    <input type="email" placeholder="Email" [(ngModel)]="email" />
  </div>
  <button (click)="onClick()">Resetar senha</button>
</section>

<section *ngIf="showConfirmation">
  <img src="../../../assets/images/confirm.png" />
  <h1>Email enviado com sucesso!</h1>
  <p>Acesse seu email para redefinir sua senha.</p>
  <button mat-button mat-dialog-close>OK</button>
</section>

<section *ngIf="hasError">
  <img src="../../../assets/images/error.png" />
  <h1>Não foi possível enviar o email</h1>
  <p>
    Tivemos algum problema com a conexão e não conseguimos enviar o email. Por
    favor tente novamente.
  </p>
  <button mat-button mat-dialog-close>OK</button>
</section>
