@import "../../../../assets/scss/generalStyles.scss";
@import "../../../../assets/scss/variables.scss";

section {
  height: 90vh;
}

.containerTable {
  background-color: white;
  box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
  .titleContainer {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    padding: 1.5rem;
  }

  .table {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    > div {
      padding: 1.5rem;

      .filterContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          flex: 1;
          &:nth-child(1) {
            span {
              margin-right: 10px;
            }

            select {
              border: 1px solid rgba(0, 0, 0, 0.1);
              padding: 0.5rem;
              border-radius: 5px;
              appearance: none;
              &:focus {
                border-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
          &:nth-child(2) {
            text-align: right;
            position: relative;
            i{
              position: absolute;
              top: 8px;
              right: 15px;
              cursor: pointer;
              transition: all .3s;
              padding: 5px;
              &:hover{
                color: $primary-red;
              }
            }
          }
        }

        input {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 25px;
          padding: 11px 14px;
          width: 90%;
          max-width: 250px;
          &:focus {
            border-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      .containerTable {
        margin-top: 10px;

        table {
          border-collapse: separate;
          border-spacing: 0;
          width: 100%;
          color: #212529;
          thead {
            background-color: $primary-red;
            color: white;
            font-size: 14px;
            th {
              padding: 0.65rem;
              border-bottom: 1px solid #dee2e6;
              cursor: pointer;
              position: relative;
            }
          }

          tbody {
            tr {
              td {
                padding: 0.75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
                text-align: center;
                vertical-align: middle;
                font-size: 14px;
              }
              .tdImage {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  margin-right: 10px;
                  border-radius: 50%;
                  width: 32px;
                  height: 32px;
                  object-fit: contain;
                }
              }

              .actions {
                a {
                  text-decoration: none;
                  padding: .3rem 12px;
                  color: white;
                  border-radius: 3px;
                  transition: all .3s;
                  cursor: pointer;
                  &:hover{
                    opacity: .5;
                  }
                  &:nth-child(1) {
                    margin-right: 10px;
                    background-color: #333;
                  }
                  &:nth-child(2){
                    background-color: $primary-red;
                  }
                }
              }
            }
          }
        }
      }

      .infoTable {
        margin-top: 0.85rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          color: #878793;
          font-size: 14px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            color: #34334a;
            cursor: pointer;
            background-color: white;
            border: 1px solid #dee2e6;
            outline: 0;
            border-radius: 0.25rem;
            padding: 0.5rem;
            transition: all 0.3s;
            &:hover {
              background-color: $primary-red;
              color: white;
            }
          }

          p {
            padding: 8px 12px;
            margin: 0 3px;
            color: #34334a;
            border: 1px solid #dee2e6;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              background-color: $primary-red;
              color: white;
            }
          }

          .pageSelected {
            background-color: $primary-red;
            color: white;
          }
        }
      }
    }
  }
}
