<section>
  <div class="path">
    <ul>
      <li><i class="fa-solid fa-house"></i>Home/</li>
      <li>Produtos/</li>
      <li>Editar Produto</li>
    </ul>
  </div>
  <div class="snack">
    <app-snack-sucess
      [messageSucess]="messageSucess"
      [title]="titleSucess"
      [events]="eventSubjectSucess.asObservable()"
    ></app-snack-sucess>
    <app-snack-error
      [messageError]="messageError"
      [title]="titleError"
      [events]="eventSubjectError.asObservable()"
    ></app-snack-error>
  </div>
  <article class="containerTable">
    <div class="titleContainer">
      <h1>Lista de Produtos</h1>
    </div>
    <div class="table">
      <div>
        <div class="filterContainer">
          <div>
            <span>Listar</span>
            <select [(ngModel)]="dataGet.take" (change)="getAllProducts()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option
                value="{{ dataGet.take }}"
                *ngIf="dataGet.take >= quantityProducts"
              >
                {{ dataGet.take }}
              </option>
            </select>
          </div>
          <div>
            <input
              type="text"
              placeholder="Pesquisar"
              [(ngModel)]="dataGet.text"
              (keyup)="getAllProducts()"
            />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div class="containerTable">
          <table>
            <thead>
              <tr>
                <th>ID do Produto</th>
                <th>Nome do Produto</th>
                <th>Preço do Produto</th>
                <th>Categorias do Produto</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of allProducts">
                <td>{{ product.id }}</td>
                <td class="tdImage">
                  <img
                    src="{{ product.ProductPhoto[0].url }}"
                    *ngIf="product.ProductPhoto.length > 0"
                  />
                  {{ product.name }}
                </td>
                <td>R${{ product.price }}</td>
                <td>
                  <select>
                    <option *ngFor="let category of product.Product_Category">
                      {{ category.category.name }}
                    </option>
                  </select>
                </td>
                <td class="actions">
                  <a routerLink="/home/updated-product/{{ product.id }}"
                    >Editar</a
                  >
                  <a (click)="deleteProduct(product.id)">Excluir</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="infoTable" *ngIf="dataGet.text === ''">
          <p>
            Exibindo {{ dataGet.take }} de {{ quantityProducts }} categorias
          </p>
          <div>
            <button (click)="buttonPage(false)">Voltar</button>
            <p
              *ngFor="let page of [].constructor(numberPages); let i = index"
              (click)="changePagination(i + 1)"
              [ngClass]="{ pageSelected: i + 1 === currentPage }"
            >
              {{ i + 1 }}
            </p>
            <button (click)="buttonPage(true)">Avançar</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
