@import "../../../../assets/scss/generalStyles.scss";
@import "../../../../assets/scss/variables.scss";

section {
  height: 90vh;
}

.containerTable {
  background-color: white;
  box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
}
