<article>
  <div class="path">
    <ul>
      <li><i class="fa-solid fa-house"></i>Home/</li>
      <li>Produtos/</li>
      <li>Adicionar Produto</li>
    </ul>
  </div>
  <div class="snack">
    <app-snack-sucess
      [messageSucess]="messageSucess"
      [title]="titleSucess"
      [events]="eventSubjectSucess.asObservable()"
    ></app-snack-sucess>
    <app-snack-error
      [messageError]="messageError"
      [title]="titleError"
      [events]="eventSubjectError.asObservable()"
    ></app-snack-error>
    <app-snack-atetion
      [messageAtention]="messageAtention"
      [title]="titleAtention"
      [events]="eventSubjectAtention.asObservable()"
    ></app-snack-atetion>
  </div>
  <form class="infoProduct" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="dataProduct">
      <h1>Adicionar Produto</h1>
      <div>
        <label for="">Nome do Produto</label>
        <input type="text" placeholder="Pizza" formControlName="name" />
        <p
          class="errorMessage"
          *ngIf="form.get('name')?.errors && form.get('name')?.touched"
        >
          Nome é Obrigatório
        </p>
      </div>
      <div class="doubleInput">
        <div>
          <label for="">Selecione a Categoria</label>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="allCategories"
            formControlName="category"
            placeholder="Selecione"
          >
          </ng-multiselect-dropdown>
        </div>
        <div>
          <label for="">Preço</label>
          <input
            type="text"
            prefix="R$"
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            [dropSpecialCharacters]="true"
            placeholder="R$"
            formControlName="price"
          />
          <p
            class="errorMessage"
            *ngIf="form.get('price')?.errors && form.get('price')?.touched"
          >
            Preço é Obrigatório
          </p>
        </div>
      </div>
      <div>
        <label for="">Descrição</label>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          (resize)="(false)"
          placeholder="Descrição do produto..."
          formControlName="description"
        ></textarea>
        <p
          class="errorMessage"
          *ngIf="
            form.get('description')?.errors && form.get('description')?.touched
          "
        >
          Descrição é Obrigatório
        </p>
      </div>
      <div class="divInputFile">
        <label for="">Imagens do Produto</label>
        <div>
          <input
            type="file"
            hidden
            (change)="getInfoImage($event)"
            accept="image/png, image/jpeg, image/jpg, image/gif"
          />
          <input
            type="text"
            placeholder="{{ placeHolderInputFile }}"
            disabled
          />
          <button type="button" (click)="addImage()">Selecionar</button>
        </div>
      </div>
      <div class="calcLucro">
        <div>
          <p>Cálculo de Lucro?</p>
          <input
            type="radio"
            name="calcLucro"
            class="checbox"
            (change)="changeProfit()"
          />
          <label for="">Sim</label>
          <input
            type="radio"
            name="calcLucro"
            class="checbox"
            checked
            (change)="changeProfit()"
          />
          <label for="">Não</label>
        </div>
        <div *ngIf="calcProfit">
          <div
            *ngFor="let item of getRawMaterial.controls; let i = index"
            [formGroup]="getFormGroup(i)"
          >
            <p>Matéria Prima {{ i + 1 }}</p>
            <div>
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="allRawMaterials"
                placeholder="Matéria Prima..."
                formControlName="name"
              >
              </ng-multiselect-dropdown>
            </div>
            <div>
              <input
                type="text"
                mask="separator.2"
                [thousandSeparator]="'.'"
                [decimalMarker]="','"
                [dropSpecialCharacters]="true"
                placeholder="Quantidade"
                formControlName="quantity"
              />
            </div>
            <div>
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="listMeasure"
                placeholder="Medida"
                formControlName="measure"
              >
              </ng-multiselect-dropdown>
            </div>
            <span
              (click)="addRawMaterial()"
              *ngIf="i === getRawMaterial.controls.length - 1"
              >+</span
            >
            <span *ngIf="i !== getRawMaterial.controls.length - 1" (click)="removeRawMaterial(i)">-</span>
          </div>
        </div>
      </div>
    </div>
    <div class="previewProduct">
      <h2>Produto</h2>
      <div class="slider" *ngIf="filesThumbProduct.length > 0">
        <ul>
          <li
            *ngFor="let img of filesThumbProduct; let i = index"
            [ngClass]="{
              removeImage: i === 0 && filesThumbProduct.length > 1
            }"
          >
            <img src="{{ img }}" alt="" />
          </li>
        </ul>
        <div class="thumb">
          <ul>
            <li *ngFor="let img of filesThumbProduct; let i = index">
              <img
                src="{{ img }}"
                alt=""
                (click)="changeImage(i)"
                [ngClass]="{
                  imageSelected: i === filesThumbProduct.length - 1
                }"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="noImage" *ngIf="filesThumbProduct.length === 0">
        <img
          src="../../../../assets/images/noImageIcon.png"
          alt="Adicine uma imagem"
        />
      </div>
      <div class="buttons">
        <button type="submit">Salvar</button>
        <button type="button" (click)="removeFiles()">Deletar Imagens</button>
      </div>
    </div>
  </form>
</article>
