@import "../../../../assets/scss/variables.scss";

form {
  min-width: 380px;
  @media screen and (max-width: 950px) {
    min-width: auto;
    width: 90%;
    margin: 0 auto;
  }
  > h1 {
    font-size: 30px;
  }
  > p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: $secondary-black;
    &:last-child {
      text-align: center;
    }
    > a {
      color: $primary-red;
      text-decoration: none;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: $link-hover;
      }
    }
  }
  > div {
    margin-bottom: 25px;
    label {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
    }
    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      outline: none;
    }

    .checbox {
      width: auto;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        display: block;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        top: 2.5px;
        left: 6px;
        display: none;
      }

      &::before {
        content: "";
        color: black;
        position: absolute;
        width: 15px;
        height: 15px;
        top: -1px;
        background-color: white;
        border: 1px solid #ccc;
      }
      &:checked {
        &::before {
          background-color: red;
        }
        &::after {
          display: block;
        }
      }
    }
  }

  > a {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: $primary-red;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $link-hover;
    }
  }

  button {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    background-color: $primary-red;
    border: 1px solid $primary-red;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
