<form action="">
  <h1>Acesse sua conta</h1>
  <p>Por favor entre com seu email e senha para continuar</p>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="email@gmail.com" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" placeholder="*****" id="password" />
  </div>
  <div><input type="checkbox" class="checbox" />Lembre de mim</div>
  <a (click)="openDialog()">Esqueceu sua senha?</a>
  <button>Entrar</button>
  <p>Não possui conta? <a routerLink="create-account">Criar Conta</a></p>
</form>
