@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/generalStyles.scss";

form {
  min-width: 380px;
  @media screen and (max-width: 950px) {
    min-width: auto;
    width: 90%;
    margin: 0 auto;
  }
  > h1 {
    font-size: 30px;
  }

  > .errorMessage {
    text-align: center;
    color: $primary-red;
  }
  > p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: $secondary-black;

    &:last-child {
      text-align: center;
    }
    > a {
      color: $primary-red;
      text-decoration: none;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: $link-hover;
      }
    }
  }
  > div {
    margin-bottom: 25px;
    label {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
    }
    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      outline: none;
    }


  }

  > a {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: $primary-red;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $link-hover;
    }
  }

  button {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    background-color: $primary-red;
    border: 1px solid $primary-red;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
