<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Criar Conta</h1>
  <p>Por favor preencha os dados para continuar</p>
  <div class="names">
    <div>
      <label for="firstName">Primeiro Nome</label>
      <input
        type="text"
        placeholder="Vittor"
        id="firstName"
        formControlName="firstName"
      />
      <p
        *ngIf="form.get('firstName')?.errors && form.get('firstName')?.touched"
        class="errorMessage"
      >
        Nome é obrigatório
      </p>
    </div>
    <div>
      <label for="lastName">Ultimo Nome</label>
      <input
        type="text"
        placeholder="Daniel"
        id="lastName"
        formControlName="lastName"
      />
      <p
        *ngIf="form.get('lastName')?.errors && form.get('lastName')?.touched"
        class="errorMessage"
      >
        Ultimo nome é obrigatório
      </p>
    </div>
  </div>
  <div>
    <label for="cpfCnpj">CPF ou CNPJ</label>
    <input
      type="text"
      placeholder="CPF ou CNPJ"
      id="cpfCnpj"
      formControlName="cpfCnpj"
      mask="000.000.000-99 || 00.000.000/0000-00"
    />
    <p
      *ngIf="form.get('cpfCnpj')?.errors && form.get('cpfCnpj')?.touched"
      class="errorMessage"
    >
      CPF ou CNPJ obrigatório
    </p>
  </div>
  <div>
    <label for="email">Email</label>
    <input
      type="email"
      placeholder="email@dominio.com"
      id="email"
      formControlName="email"
    />
    <p
      *ngIf="form.get('email')?.errors && form.get('email')?.touched"
      class="errorMessage"
    >
      Email obrigatório
    </p>
    <p
      *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
      class="errorMessage"
    >
      Email Inválido
    </p>
  </div>
  <div>
    <label for="password">Senha</label>
    <input
      type="password"
      placeholder="*****"
      id="password"
      formControlName="password"
    />
    <p
      *ngIf="form.get('password')?.errors && form.get('password')?.touched"
      class="errorMessage"
    >
      Senha obrigatório
    </p>
    <p
      *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.dirty && form.get('password')?.touched"
      class="errorMessage"
    >
      Senha precisa no minímo 6 caracteres
    </p>
  </div>
  <div>
    <label for="confirmPassword">Confirmar Senha</label>
    <input
      type="password"
      placeholder="*****"
      id="confirmPassword"
      formControlName="confirmPassword"
    />
    <p
      *ngIf="
        form.get('confirmPassword')?.errors &&
        form.get('confirmPassword')?.touched
      "
      class="errorMessage"
    >
      Confirmar senha obrigatório
    </p>
    <p
      class="errorMessage"
      *ngIf="
        form.value.confirmPassword !== form.value.password &&
        form.get('confirmPassword')?.touched
      "
    >
      As senhas não conicidem
    </p>
  </div>
  <div class="divInputCheck">
    <input type="checkbox" class="checbox" (change)="changeCheck()" />Aceito os
    termos e condições
  </div>
  <button type="submit" [disabled]="!form.valid || !form.value.check">
    Criar Conta
  </button>
  <span>Já possuiu uma conta? <a routerLink="">Login</a></span>
  <p class="errorMessage" *ngIf="hasError">{{ errorMessage }}</p>
</form>
