<aside class="primarySideBar">
  <nav>
    <div><img src="../../../assets/images/logo.png" alt="Logo" /></div>
    <ul>
      <li>
        <a href="#">
          <span>
            <i class="material-icons fs-16">dashboard</i>
            Dashboard
          </span>
        </a>
      </li>
      <li class="treeMenu">
        <a href="#">
          <span>
            <i class="fa fa-archive fs-16"></i>
            Cardapios
          </span>
        </a>
      </li>
      <li class="treeMenu">
        <a href="#">
          <span>
            <i class="fas fa-clipboard-list fs-16"></i>
            Pedidos
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>
            <i class="fa-solid fa-list-check"></i>
            Lista de Restaurantes
          </span>
        </a>
      </li>
      <li class="treeMenu">
        <a href="#">
          <span>
            <i class="fas fa-file-invoice fs-16"></i>
            Faturas
          </span>
        </a>
      </li>
      <li class="treeMenu">
        <a href="#">
          <span>
            <i class="fas fa-user-friends fs-16"></i>
            Clientes
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>
            <i class="fa fa-briefcase fs-16"></i>
            Vendas
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>
            <i class="material-icons fs-16">widgets</i>
            Widgets
          </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
<main>
  <header>
    <nav>
      <div class="menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="infoUser">
        <ul>
          <li>
            <i class="flaticon-search text-disabled"></i>
            <input type="text" placeholder="Pesquise aqui..." />
          </li>
          <li>
            <a href="#">
              <img
                src="../../../assets/images/envelope.png"
                alt="Notificações do Email"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../../assets/images/bell.png" alt="Notificações" />
            </a>
          </li>
          <li>
            <img
              src="../../../assets/images/placeholderUsuer.jpg"
              alt="Imagem do usuário"
            />
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<aside class="secondarySideBar">
  <nav>
    <ul>
      <li>
        <a href="#">
          <i class="fa-solid fa-list"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-thin fa-bell"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-thin fa-pencil"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-thin fa-share-nodes"></i>
        </a>
      </li>
      <li>
        <a href="#"><i class="fa-thin fa-gear"></i></a>
      </li>
    </ul>
  </nav>
</aside>
