<section>
  <aside class="primarySideBar">
    <nav>
      <div><img src="../../../assets/images/logo.png" alt="Logo" /></div>
      <ul>
        <li>
          <a
            routerLinkActive="activeRoute"
            routerLink="/home"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span>
              <i class="material-icons fs-16">dashboard</i>
              Dashboard
            </span>
          </a>
        </li>
        <li class="treeMenu">
          <a
            (click)="showAccordion(0)"
            [ngClass]="{ activeRouteAccordion: verifyRoute('product') }"
          >
            <span>
              <i class="fa fa-archive fs-16"></i>
              Produtos
            </span>
          </a>
          <ul class="accordion">
            <li>
              <a
                routerLink="product-catalog"
                routerLinkActive="activeRouteAccordion"
                >Catálogo</a
              >
            </li>
            <li>
              <a
                routerLink="category-product"
                routerLinkActive="activeRouteAccordion"
                >Adicionar Categoria</a
              >
            </li>
            <li>
              <a
                routerLink="edit-category-product"
                routerLinkActive="activeRouteAccordion"
                >Editar Categoria</a
              >
            </li>
            <li>
              <a
                routerLink="add-product"
                routerLinkActive="activeRouteAccordion"
                >Adicionar Produto</a
              >
            </li>
            <li>
              <a
                routerLink="edit-product"
                routerLinkActive="activeRouteAccordion"
                >Editar Produto</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span>
              <i class="fas fa-clipboard-list fs-16"></i>
              Pedidos
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <i class="fa-solid fa-list-check"></i>
              Lista de Restaurantes
            </span>
          </a>
        </li>
        <li class="treeMenu">
          <a (click)="showAccordion(1)">
            <span>
              <i class="fas fa-file-invoice fs-16"></i>
              Faturas
            </span>
          </a>
          <ul class="accordion">
            <li><a href="#">Detalhes</a></li>
            <li><a href="#">Lista</a></li>
          </ul>
        </li>
        <li class="treeMenu" (click)="showAccordion(2)">
          <a>
            <span>
              <i class="fas fa-user-friends fs-16"></i>
              Clientes
            </span>
          </a>
          <ul class="accordion">
            <li><a href="#">Review</a></li>
            <li><a href="#">Lista</a></li>
            <li><a href="#">Social</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span>
              <i class="fa fa-briefcase fs-16"></i>
              Vendas
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <i class="material-icons fs-16">widgets</i>
              Widgets
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <header>
      <nav>
        <div class="menuMobile" (click)="toggleMenuMobile()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <img src="../../../assets/images/logo.png" alt="Logo do Restaurante" />
        <div class="infoUser">
          <ul>
            <li>
              <input type="text" placeholder="Pesquise aqui..." />
              <i class="fa-solid fa-magnifying-glass"></i>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../assets/images/envelope.png"
                  alt="Notificações do Email"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../assets/images/bell.png" alt="Notificações" />
              </a>
            </li>
            <li>
              <img
                src="../../../assets/images/placeholderUsuer.jpg"
                alt="Imagem do usuário"
              />
            </li>
          </ul>
        </div>
        <div class="menuAside">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
  <aside class="secondarySideBar">
    <nav>
      <ul>
        <li>
          <a href="#">
            <i class="fa-solid fa-list"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-bell"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-pencil"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-share-nodes"></i>
          </a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-gear"></i></a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="bgModal" (click)="removeMenu()"></div>
</section>
