@import "../../../assets/scss/generalStyles.scss";
@import "../../../assets/scss/variables.scss";
@import "material-icons/iconfont/material-icons.css";

.primarySideBar {
  height: 100vh;
  width: 255px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  left: 0;
  top: 0;
  transition: all 0.3s;
  z-index: 999;
  position: absolute;
  @media screen and (max-width: 1025px) {
    transform: translateX(-100%);
  }
  nav {
    > div {
      background-color: #ccc;
      padding: 16.5px 0;
      text-align: center;
      @media screen and (max-width: 1025px) {
        display: none;
      }
      img {
        max-width: 150px;
      }
    }

    ul {
      list-style-type: none;
      > li {
        > a,
        label {
          padding: 20px 0 20px 25px;
          display: block;
          color: black;
          font-size: 14px;
          text-decoration: none;
          transition: all 0.3s;
          cursor: pointer;
          > span {
            display: flex;
            align-items: center;
            position: relative;
            i {
              margin-right: 20px;
              font-size: 16px;
            }
          }

          &:hover {
            color: $primary-red;
          }
        }

        &.treeMenu {
          span {
            &::after {
              content: "\e313";
              font-family: "Material Icons";
              font-weight: 700;
              right: 20px;
              position: absolute;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

main {
  width: calc(100% - 255px - 60px);
  margin: 0 60px 0 255px;
  height: 100vh;
  transition: all 0.3s;
  @media screen and (max-width: 1025px) {
    width: 100%;
    margin: 0 auto;
  }
  header {
    top: 0;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .menuMobile, .menu {
        cursor: pointer;
        > span {
          width: 20px;
          height: 2px;
          background-color: #007bff;
          display: block;
          margin-bottom: 4px;
          transition: all 0.3s;
          &:nth-child(2) {
            width: 15px;
          }
          &:nth-child(3) {
            width: 10px;
          }
        }
        &:hover {
          span {
            width: 20px;
          }
        }
      }

      .menuMobile{
        display: none;
        @media screen and (max-width: 1025px){
          display: block;
        }
      }

      .menu{
        @media screen and (max-width: 1025px){
          display: none;
        }
      }


      ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
          padding: 1.1rem 25px;

          &:nth-child(1) {
            position: relative;
            i {
              position: absolute;
              top: 35px;
              right: 45px;
              font-size: 13px;
            }
          }

          > input {
            padding: 14px 14px;
            border-radius: 25px;
            width: 250px;
            border: 0;
            background-color: #f0f0f7;
            transition: all 0.3s;
            &:focus {
              border: 0;
              outline: 0;
            }
          }

          img {
            max-width: 22px;
          }

          &:last-child {
            padding-right: 0;
            > img {
              max-width: 40px;
              border-radius: 50%;
            }
          }
        }
      }

      > img {
        max-width: 85px;
        padding: 10px 0;
        display: none;
        @media screen and (max-width: 1025px) {
          display: block;
        }
      }

      .menuAside {
        display: none;
        > span {
          width: 20px;
          height: 2px;
          background-color: #007bff;
          display: block;
          margin-bottom: 4px;
        }
        @media screen and (max-width: 1025px) {
          display: block;
        }
      }

      .infoUser {
        @media screen and (max-width: 1025px) {
          display: none;
        }
      }
    }
  }
  section {
    background-color: #f0f0fa;
  }
}

.secondarySideBar {
  width: 60px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 1025px) {
    transform: translateX(100%);
  }
  nav {
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: 15px 0;
          text-decoration: none;
        }

        i {
          color: #3433434a;
          text-align: center;
        }
      }
    }
  }
}

.accordion {
  padding-left: 40px;
  background-color: #ebebeb;
  transform: rotateX(90deg);
  max-height: 0;
  transition: all 0.3s;
}

.show {
  transform: rotate(0);
  max-height: 300px;
}

.toggleMenu {
  transform: translateX(-100%);
}

.toggleMenuMobile{
  transform: translateX(0%);
}

.mainFullScreen {
  width: calc(100% - 60px);
  margin: 0 60px 0 0;
}

.menuFull {
  width: 20px !important;
}

.bgModal{
  position: absolute;
  z-index: 99;
  width: calc(100vw - 255px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  display: none;
}

.db{
  display: block !important;
}
