@import "../../../assets/scss/variables.scss";

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgSide {
    width: 40%;
    height: 100vh;
    background-image: url(../../../assets/images/defaultLoginBg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
}

.loginSide {
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 950px) {
    width: 100%;
  }
}
