@import '../../../assets/scss/generalStyles.scss';
@import '../../../assets/scss/variables.scss';

section{
  text-align: center;
  >img{
    width: 60px;
    margin-bottom: 5px;
  }

  h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: normal;
  }

  p {
    color: #333;
    margin-bottom: 15px;
    font-size: 14px;
  }

  button {
    margin-top: 10px;
    margin-bottom: 0.8rem;
    padding: 0.625rem;
    background-color: $primary-red;
    color: white;
    border: 1px solid $primary-red;
    outline: 1px solid $primary-red;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
}
