<form [formGroup]="form" *ngIf="!errorValidation" (ngSubmit)="onSubmit()">
  <h1>Redefinir Senha</h1>
  <div>
    <label for="newPassword">Nova Senha</label>
    <input
      type="password"
      placeholder="***"
      id="newPassword'"
      formControlName="password"
    />
    <p
      class="errorMessage"
      *ngIf="form.get('password')?.errors && form.get('password')?.touched"
    >
      Senha é obrigatório
    </p>
    <p
      *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.dirty && form.get('password')?.touched"
      class="errorMessage"
    >
      Senha precisa no minímo 6 caracteres
    </p>
  </div>
  <div>
    <label for="confirmPassword">Confirmar Senha</label>
    <input
      type="password"
      placeholder="***"
      id="confirmPassword"
      formControlName="confirmPassword"
    />
    <p
      class="errorMessage"
      *ngIf="
        form.get('confirmPassword')?.errors &&
        form.get('confirmPassword')?.touched
      "
    >
      Confirmar senha é obrigatório
    </p>
    <p
      class="errorMessage"
      *ngIf="
        form.value.confirmPassword !== form.value.password &&
        form.get('confirmPassword')?.touched
      "
    >
      As senhas não conicidem
    </p>
  </div>
  <button type="submit" [disabled]="!form.valid">Redefinir</button>
</form>

<section *ngIf="errorValidation">
  <img src="../../../../assets/images/error.png" alt="Token inválido" />
  <h1>Token Inválido</h1>
  <p>
    Não foi possível ativar sua conta. Por favor entre em contato ou tente
    novamente
  </p>
  <button (click)="redirect()">OK</button>
</section>

<section *ngIf="errorResetPassword">
  <img src="../../../../assets/images/error.png" alt="Token inválido" />
  <h1>Não foi possível redefinir sua senha</h1>
  <p>
    Não foi possível redefinir sua senha Por favor entre em contato ou tente
    novamente
  </p>
  <button (click)="redirect()">OK</button>
</section>
