<section>
  <div class="path">
    <ul>
      <li><i class="fa-solid fa-house"></i>Home/</li>
      <li>Produtos/</li>
      <li>Editar Categoria</li>
    </ul>
  </div>
  <article class="containerTable">
    <div class="titleContainer">
      <h1>Lista de Categorias</h1>
    </div>
    <div class="table">
      <div>
        <div class="filterContainer">
          <div>
            <span>Listar</span>
            <select name="" id="">
              <option value="">10</option>
              <option value="">25</option>
              <option value="">50</option>
              <option value="">100</option>
            </select>
          </div>
          <div>
            <input type="text" placeholder="Pesquisar" />
          </div>
        </div>
        <div class="containerTable">
          <table>
            <thead>
              <tr>
                <th>ID do Produto</th>
                <th>Nome do Produto</th>
                <th>Quantidade de Produtos</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>001</td>
                <td class="tdImage">
                  <img src="../../../../assets/images/french-fries.jpg" />
                  Pizzas
                </td>
                <td>20</td>
                <td class="acoes">
                  <a href="#">Editar</a>
                  <a href="#">Excluir</a>
                </td>
              </tr> -->
              <tr *ngFor="let category of allCategories">
                <td>{{ category.id }}</td>
                <td class="tdImage">
                  <img src="{{ category.PhotoCategory[0].url }}" alt="" />
                  {{ category.name }}
                </td>
                <td>20</td>
                <td>
                  <a href="#">Editar</a>
                  <a href="#">Excluir</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="infoTable">
          <p>Exibindo 10 de 36 categorias</p>
          <div>
            <button>Voltar</button>
            <p class="pageSelected">1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <button>Avançar</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
