<section>
  <div class="path">
    <ul>
      <li><i class="fa-solid fa-house"></i>Home/</li>
      <li>Produtos/</li>
      <li>Editar Categoria</li>
    </ul>
  </div>
  <div class="snack">
    <app-snack-sucess
      [messageSucess]="messageSucess"
      [title]="titleSucess"
      [events]="eventSubjectSucess.asObservable()"
    ></app-snack-sucess>
    <app-snack-error
      [messageError]="messageError"
      [title]="titleError"
      [events]="eventSubjectError.asObservable()"
    ></app-snack-error>
  </div>
  <article class="containerTable">
    <app-default-table
      *ngIf="loading"
      [infoTable]="infoTable"
    ></app-default-table>
  </article>
</section>
