<article>
  <div class="path">
    <ul>
      <li><i class="fa-solid fa-house"></i>Home/</li>
      <li>Funcionários/</li>
      <li>Adicionar Funcionário</li>
    </ul>
  </div>
  <div class="snack">
    <app-snack-sucess
        [messageSucess]="messageSucess"
        [title]="titleSucess"
        [events]="eventSubjectSucess.asObservable()"
      ></app-snack-sucess>
      <app-snack-error
        [messageError]="messageError"
        [title]="titleError"
        [events]="eventSubjectError.asObservable()"
      ></app-snack-error>
  </div>
  <form class="infoProduct" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="dataProduct">
      <h1>Adicionar Funcionário</h1>
      <div>
        <label for="">Nome completo do Funcionário</label>
        <input type="text" placeholder="Nome" formControlName="name" />
        <p
          *ngIf="form.get('name')?.errors && form.get('name')?.touched"
          class="errorMessage"
        >
          Nome é obrigatório
        </p>
      </div>
      <div>
        <div>
          <label for="">Selecione as Telas de Acesso</label>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="['teste']"
            formControlName="screens"
            placeholder="Selecione"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="doubleInput">
        <div>
          <label for="">Login</label>
          <input
            type="text"
            placeholder="login@teste"
            formControlName="email"
          />
          <p
            *ngIf="form.get('email')?.errors && form.get('email')?.touched"
            class="errorMessage"
          >
            Login é obrigatório
          </p>
        </div>
        <div>
          <label for="">Senha</label>
          <input
            type="password"
            placeholder="*****"
            formControlName="password"
          />
          <p
            *ngIf="
              form.get('password')?.errors && form.get('password')?.touched
            "
            class="errorMessage"
          >
            Senha é obrigatório
          </p>
        </div>
      </div>
      <div class="divInputFile">
        <label for="">Foto do Funcionário</label>
        <div>
          <input
            type="file"
            hidden
            (change)="getInfoImage($event)"
            accept="image/png, image/jpeg, image/jpg, image/gif"
          />
          <input
            type="text"
            placeholder="{{ placeHolderInputFile }}"
            disabled
          />
          <button
            type="button"
            (click)="addImage()"
            [disabled]="filesThumb.length"
            class="buttonImage"
          >
            Selecionar
          </button>
        </div>
      </div>
    </div>
    <div class="previewProduct">
      <h2>Funcionário</h2>
      <div class="slider" *ngIf="filesThumb.length > 0">
        <ul>
          <li
            *ngFor="let img of filesThumb; let i = index"
            [ngClass]="{
              removeImage: i === 0 && filesThumb.length > 1
            }"
          >
            <img src="{{ img }}" alt="" />
          </li>
        </ul>
        <div class="thumb">
          <ul>
            <li *ngFor="let img of filesThumb; let i = index">
              <img
                src="{{ img }}"
                alt=""
                (click)="changeImage(i)"
                [ngClass]="{
                  imageSelected: i === filesThumb.length - 1
                }"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="noImage" *ngIf="filesThumb.length === 0">
        <img
          src="../../../../assets/images/noImageIcon.png"
          alt="Adicine uma imagem"
        />
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="form.invalid">Salvar</button>
        <button type="button" (click)="removeFiles()">Deletar Imagens</button>
      </div>
    </div>
  </form>
</article>
