<article>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="path">
      <ul>
        <li><i class="fa-solid fa-house"></i>Home/</li>
        <li>Produtos/</li>
        <li>Editar Categoria</li>
      </ul>
    </div>
    <div class="snack"></div>
    <div class="infoProduct">
      <div class="dataProduct">
        <h1>Adicionar Categoria</h1>
        <div>
          <label for="name">Nome da Categoria</label>
          <input
            type="text"
            placeholder="Pizza"
            id="name"
            formControlName="name"
          />
        </div>
        <div>
          <label for="description">Descrição</label>
          <textarea
            name=""
            id="description"
            formControlName="description"
            cols="30"
            rows="10"
            (resize)="(false)"
            placeholder="Descrição da categoria..."
          ></textarea>
        </div>
        <div class="divInputFile">
          <label for="">Imagens da Categoria</label>
          <div>
            <input
              type="file"
              hidden
              accept="image/png, image/jpeg, image/jpg, image/gif"
              (change)="getInfoImage()"
              #inputFile
              multiple
              formControlName="photo"
            />
            <input type="text" placeholder="Selecione uma foto" />
            <button type="button" (click)="addImage()">Selecionar</button>
          </div>
        </div>
      </div>
      <div class="previewProduct">
        <h2>Categoria</h2>
        <div class="slider">
          <ul>
            <li>
              <img src="../../../../assets/images/logo.png" alt="" />
            </li>
            <li>
              <img src="../../../../assets/images/defaultLoginBg.jpeg" alt="" />
            </li>
          </ul>
          <div class="thumb">
            <ul>
              <li>
                <img
                  src="../../../../assets/images/logo.png"
                  alt=""
                  (click)="changeImage(0)"
                />
              </li>
              <li>
                <img
                  src="../../../../assets/images/defaultLoginBg.jpeg"
                  alt=""
                  (click)="changeImage(1)"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="buttons">
          <button>Salvar</button>
          <button>Deletar Imagens</button>
        </div>
      </div>
    </div>
  </form>
</article>
